#jumb {

text-align: CENTER;
color:  purple;
background-color: crimson;
font-family: cursive;



}


body {

    background-color: purple;

}


#results {

    width: 500px;
}

#pan {

    font-size: 50px;
}
/* 
#searchstuff {


    border:grey solid 5px;
} */